.states
*.db
.env
*.py[cod]
.web
__pycache__/
assets/external/
assets/chatbot/
academicas_clean.csv
proyectos_total_ocde1_.csv
publicaciones___.csv
aca2.csv
academicas.xlsx
academicas_final.xlsx
publicaciones__.csv
